* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

.pass-copy {
  margin-bottom: 2rem;
}

label {
  margin-left: 0.5rem;
}
.bottom-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40vw;
  margin: 0 auto;
}
